<div class="card card-login mx-auto mt-5 light-hover-box">
  <div class="card-header text-medium alert-info text-color-darker">Resend Unlock Instructions</div>
  <div class="card-body">
    <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, class: "form-control" %>
      </div>

      <div class="actions">
        <%= f.submit "Resend unlock instructions", class: 'btn btn-outline-primary' %>
      </div>
    <% end %>
    <div class="margin-top-1rem margin-bottom-1rem">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
