<div class="row">
  <div class="col-lg-12">
    <!-- Example Bar Chart Card-->
    <div class="card mb-3 light-hover-box">
      <%= link_to edit_user_registration_path do %>
        <div class="card-header alert-info text-medium">
          <i class="fa fa-user-circle-o" aria-hidden="true"></i>
          User Profile
        </div>
      <% end %>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-3 my-auto text-center">
            <%= image_tag 'http://lorempixel.com/150/150/', alt: 'profile image', class: "img-thumbnail img-responsive" %>
          </div>
          <div class="col-sm-9 text-left my-auto">
            <div class="text-medium mb-1"><strong>Name: </strong><%= @user_profile.display_name || @user.first_name %></div>
            <div class="text-medium mb-1">
              <strong>Location: </strong><%= @user_profile.display_city_state || link_to("Complete your profile", edit_user_registration_path) %>
            </div>
            <% if @user_profile.birthdate %>
              <div class="text-medium mb-1"><strong>Age: </strong><%= @user_profile.age_in_years %></div>
            <% end %>
            <div class="text-medium">
              <strong>Bio: </strong>
              <%= @user_profile.bio.present? ? @user_profile.bio : link_to("Complete your profile", edit_user_registration_path) %>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer small text-muted">Member since <%= @user.created_at.strftime("%b %e, %Y") %></div>
    </div>
  </div>
</div>
